.header {
    background-color: #fff;

    &__main {
        position: fixed;
        right: 0;
        left: 0;
        background-color: #fff;
        z-index: 10000;
    }

    &__content {
        border-bottom: solid 1px #ededed;
        padding: 8px 0px;
    }
}